# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env

# Logs
*.log

# Cache
.cache/
cache-directory/

# IDE
.vscode/
.idea/

# Git
.git/
.gitignore

# Data files
*.csv
!f1_2024_highlights.csv